#board{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

.cell_row{
    display:flex;
}

.cell{
    height: 50px;
    width:50px;
    border: 2px solid black;
}